body {
    width: 100vw;
    height: 100vh;
}
main {
    padding-top: 30px;
    width: 100vw;

}
#logo h1 {
    font-size:2rem;
}
#logo {
    margin-top: 20px;
    margin-right: 20px;
}
nav {
    width: 100vw;
    justify-content: start;
}
ul {
    display: flex;
    gap: 10px;
    margin: 30px;
}
.nav-item {
    width: 80px;
}
h1 {
    font-size: 2rem;
}